<div class="hero is-warning">
  <div class="hero-body">
    <h1 class="title">
      <%= @message %>
    </h1>
  </div>
</div>
<div class="section">
  <div class='container'>
    <%= link_to t('shared.return_to_top_page'), root_path %>
  </div>
</div>
